body{
    margin: 0px;
    padding: 20px 100px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
img{
    display: flex;
    width: 60%;
    height: auto;
    margin: 0 auto;   
}
p{
    font-size: 18px;
    text-align: justify;
}
.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid grey 2px;
    border-radius: 50%;
    cursor: pointer;
}
#white{
    background-color: white;
}
#aqua{
    background-color: aqua;
}
#voilet{
    background-color: brown;
}
#black{
    background-color: black;
}
#color-switcher{
    text-align: right;
}
